<ion-menu side="start" menuId="first" contentId="main"> 
  <ion-header>
    <ion-toolbar color="primary" translucent>
      <ion-title>Start Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>

      <ion-item (click)="openSobre()">
        <ion-icon name="information-circle-outline" slot="start"></ion-icon>
        <ion-label>Sobre</ion-label>
      </ion-item>
      <ion-item button (click)="openPerfil()">
        <ion-icon slot="start" name="heart"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-item>
      <ion-menu-button>Close</ion-menu-button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav id="main" #main [root]="rootPage"></ion-nav>
