<ion-header>
  <ion-toolbar>
    <ion-title>Feed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let item of filmes">
    <img *ngIf="item.backdrop_path" src="{{filmeImgUrl}}{{filmeImgBackDrop}}/{{item.backdrop_path}}" alt="{{item.backdrop_path}}">
    <ion-card-header>      
      <ion-card-subtitle>{{item.title}}</ion-card-subtitle>
      <ion-card-title>{{item.original_title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{item.overview}}
    </ion-card-content>
    <ion-button expand="block" (click)="openDetails(item.id)">Detalhes</ion-button>
  </ion-card>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>